#container {
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  width: 100vw;
}

#map {
  background-color: #888;
  margin-bottom: 3rem;
  width: 100%;
  height: 50vh;
}

.popup-content {
  color: gray;
  padding: 0.5rem;
  font-size: large;
}

.popup-title {
  margin-top: 0;
  font-size: larger;
}

.popup-content p,
.popup-content ul {
  margin-bottom: 0.5em;
}

.popup-list {
  padding: 0;
  list-style-type: none;
  /* Remove bullets */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popup-list>li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.no-pointer-events {
  pointer-events: none !important;
}

#control-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

#pagination-container {
  margin-top: 20px;
  text-align: center;
}

#load-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background-color: #f6f8fb;
  z-index: 10;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#load-spinner {
  width: 32px;
  height: 32px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: inherit;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  vertical-align: middle;
}

/* .button-spinner {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: inherit;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  vertical-align: middle;
}

#load-button .button-spinner {
  display: none;
}

#load-button.loading .button-spinner {
  display: inline-block;
}

#load-button.loading .button-text {
  display: none;
} */