@import './segmented-control.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  margin: 3rem 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 3rem;
}

.container {
  margin: 0 auto;
  width: min(768px, calc(100vw - 4rem));
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  cursor: pointer;
}

th:hover {
  background-color: blue;
}

/* tr:nth-child(even) {
  background-color: #f9f9f9;
} */

tr:hover {
  background-color: blue;
}

#map {
  background-color: #888;
  height: 50vh;
  max-height: 1000px;
  width: 100%;
  margin-bottom: 3rem;
}